.container {
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  // padding: 20px;
}

.container-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}