.drag-n-drop {
  &__block {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  &__centered {
    max-width: 500px;
    width: 100%;
    border: 2px dashed rgba(44, 44, 44, 1);
    background: rgb(213 213 213 / 70%);
    padding: 37px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }

  &__choose {
    font-size: 14px;
    font-weight: 500;
    color: rgba(11, 79, 255, 1);
    text-decoration: underline;
    cursor: pointer;
  }

  &__text {
    font-size: 14px;
    line-height: 14px;
    font-weight: 500;
  }

  &__maxSize {
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: rgba(44, 44, 44, 0.75);
  }
}
