@mixin embed-placeholder {
  height: 100px;
  background-color: #fff;

  border-radius: 20px;
  padding: 20px;
  display: flex;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);

  &-title {
    color: black;
    margin: auto;
    text-align: center;
  }
}

.music-widget {
  position: relative;
  overflow: hidden;
  .music-link {
    opacity: 0;
    transition: 0.5s all;
    display: flex;
    justify-items: space-around;
    gap: 10px;
    margin-top: 10px;
    max-height: 0;
    width: 100%;
    position: relative;
    &-input {
      width: calc(100% - 110px);
    }

    &-btn {
      display: block;
      width: 100px;
      border-radius: 20px;
      border: none;
      background: #fff;
      box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1);
    }
  }

  &:hover .music-link {
    opacity: 1;
    max-height: 100px;
  }

  .wrong-url-message {
    @include embed-placeholder;
    &-title {
      color: #850404;
    }
  }

  .start-message {
    @include embed-placeholder;
  }
}

.transit-screen {
  transition: 0.3s opacity;
  &-enter {
    opacity: 0;
  }
  &-enter-active {
    opacity: 1;
  }
  &-exit {
    opacity: 1;
  }
  &-exit-active {
    opacity: 0;
  }
}
