.widget-input {
  background: #fff;
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  border: none;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 100%;
  height: 57px;
  padding: 20px;
  transition: 300ms all;
  user-select: auto !important;
  &::placeholder {
    color: #666;
  }

  &_warning {
    box-shadow: 0px 0px 14px 0px rgba(252, 74, 74, 0.4);
  }
  &_success {
    box-shadow: 0px 0px 14px 0px rgba(74, 252, 74, 0.4);
  }
}
