@import "./reset.scss";
@import "./colors.scss";
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=Pixelify+Sans:wght@500&display=swap');

:root {
  --foreground-rgb: 255 255 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

* {
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
}

body {
  font-family: 'DM Sans', sans-serif;
  margin: 0px;
  height: 100%;
}
