.gallery {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  &__image {
    cursor: pointer;
    object-fit: cover;
  }

  &__add {
    width: 268px;
    height: 108px;
    border-radius: 8px;
    border: 1px dashed #ffffff63;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
