.header {
  width: 100%;
  transition: background-color 0.5s ease, height 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 20px 20px;
  z-index: 10;
  max-width: 1440px;
    // height: 5rem; /* 80px */
  //   background-color: black;
  margin: 0 auto;

//   &_sticky {
//     background-color: #230555;
//     height: 60px;
//   }

  &__logo {
    filter: invert(28%) sepia(12%) saturate(272%) hue-rotate(290deg)
      brightness(110%) contrast(125%);
    cursor: pointer;
    left: 0;
  }

  &__btns {
    // right: 0;
    display: flex;
    gap: 20px;
    align-items: center;
  }

  &__btn {
    width: 100%;
    background: linear-gradient(black, black) padding-box,
      linear-gradient(to right, #5389ff, #a359ff) border-box;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem; /* 8px */
    padding-bottom: 0.5rem; /* 8px */
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
    border-width: 2px;
    border: none;
    border-radius: 0.5rem; /* 8px */
    border-width: 2px;
  }

  &__theme {
    -webkit-appearance: none;
    appearance: none;
    background-image: url(https://i.postimg.cc/mrRKDbbT/flag-en-big.jpg);
    border-radius: 50px;
    outline: none;
    transition: background-image 0.9s;
    box-shadow: 0px 1px 5px 0px rgb(68 65 65);
    position: relative;
    background-position: cover;
    cursor: pointer;
    width: 2.5rem; /* 40px */
    height: 1.25rem; /* 20px */

    &:before {
      content: "";
      background-color: #cc0100;
      border-radius: 50px;
      transition: all 0.9s;
      position: absolute;
      top: 0;
      left: 0;
      height: 1.25rem; /* 20px */
      width: 1.25rem; /* 20px */
    }

    &:checked {
      background-image: url(https://i.postimg.cc/zGW1vtKF/image.png);
      transition: background-image 0.9s;
    }

    &:checked:before {
      transform: translate(100%);
      transition: all 0.9s;
      background-color: #051c79;
    }
  }
}

.top-navigation {
  min-height:100px;
  position: relative;
  

  & .top-navigation-wrapper {
    min-height: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
  }

  &__logo {
    height:50px;
    width:298px;
    display: block;
    position: relative;
    margin: auto 0;
    flex-grow: 0;

  }

  &-menu {
    margin: auto;
    display: flex;
    position: relative;
    justify-content: space-around;
    max-width: 350px;
    flex-basis: 300px;
    flex-grow:1;
    &__element {
      display: block;
      position: relative;
      color: var(--colors-heading, #1E0E62);
/* Text / Paragraph */
      font-family: DM Sans;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 26px;
      text-decoration: none; 
      margin:auto 0;
    }

  }

  .sign-buttons {
    min-width:178px;
    margin:auto 0;
    position: relative;
    display: flex;

    &__sign-up-btn {
      height:40px;
      width:100px;
      border-radius:20px;
      border: none;
      background: #FFC75F;
      color:#fff;
      display: block;
    }

    &__sign-in-btn {
      display: block;
      background: none;
      border:none;
      width:100px;
    }
  }
}
