.footer {

    padding-bottom: 100px;

    .container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
    }

    .policy-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        min-width: 300px;
        max-width: 400px;
        justify-self: start;
        gap:20px;
        margin: auto;
    }

    &-team-logo {
        margin: 0 auto;
        justify-self: center;
    }

    &-title {
        color: var(--colors-heading, #1E0E62);
        text-align: center;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.293px;
    }

    &-description {
        color: var(--colors-text, rgba(21, 20, 57, 0.40));
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        max-width: 400px;
    }

    .contacts {
        justify-self: end;
        display: flex;
        min-width: 300px;
        margin: 0 auto;
        justify-content: space-around;
        margin: auto;
        &-title {
            color: var(--colors-heading, #1E0E62);
            /* Text / Paragraph */
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
            margin:auto 10px;

        }
        &-link {
            margin: auto 10px;
        }
    }

    
}

:lang(en) {
    @media (max-width:1100px){
        .footer {
            .container {
               grid-template-rows: 1fr 1fr 1fr;
               grid-template-columns: none;
            }
            
        }
    
       
    }
}

:lang(ru) {
    .contacts {
        min-width: 400px;
    }

    @media (max-width:1300px) {
        .container {
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: none;
        }
        .policy-links {
            justify-self: space-around;
            max-width: 100%;
        }
        .contacts {
            
        }
    }
}