@import "../../styles/colors.scss";

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  justify-content: center;

  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__wrapper {
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
  }

  &__img {
    height: 99px;
    width: 100%;
  }

  &__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    margin-bottom: 45px;
    color: #1e0e62;
  }

  &__loading {
    background-color: $dark_blue-color;
    display: flex;
    justify-content: center;
    inset: 0px;
    align-items: center;
    position: absolute;
    z-index: 100;
  }

  &__controls {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 42px;
  }

  &__error {
    margin-left: 0.25rem;
    margin-top: 0.25rem;
    color: rgb(220 38 38);
  }

  &__item {
    position: relative;
  }

  &__input {
    border: 2px solid #ebeaed;
    border-radius: 100px;
    appearance: none;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
    color: #15143966;
    outline: none;
    padding: 12px 24px;
    width: 330px;
    -webkit-appearance: none;

    &::placeholder {
      color: #9c9c9c;
      font-weight: 400;
    }
  }
}
